body {
    background-color: black;
}

:root {
    --fundo-retangulo: #121212;
    --cor-texto: #b3b3b3;
}



.sidebar {
    background-color: #121212;
    border-radius: 8px;
    padding: 12px;
    margin: 0 0 0 8px;
    position: fixed;

}

.sidebar_navigation {
    padding: 4px 166px 10px 6px;
}

#logo_spotify {
    width: 95px;
    padding: 0 20px 18px 0;
}

.sidebar ul li {
    padding: 13px 20px 5px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #b3b3b3;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
}

#logo_home {
    width: 23px;
    fill: #b3b3b3;
    padding-right: 10px;
}

#logo_lupa {
    width: 23px;
    padding-right: 10px;
}

.library {
    background-color: var(--fundo-retangulo);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px 4px 8px;
    color: var(--cor-texto);
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}